[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmd = "corepack enable && pnpm install --frozen-lockfile"

[phases.build]
cmd = "pnpm --filter web build"

[start]
cmd = "cd apps/web && pnpm db:migrate && pnpm start"
